header {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
header .content {
    width: 1466px;
    height: 100%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content h3 {
    font-size: 3rem;
}
.content img {
    cursor: pointer;
}