#root {
    display: grid;
    grid-template-columns: 20rem 30rem auto 20rem;
    grid-template-rows: 6rem auto 8rem;
    background-color: rgb(250, 250, 250);
    gap: 2rem;
}

header {
    grid-column: 1/5;
}
#category_menu {
    grid-column: 2/3;
}
#div_product_list {
    grid-column: 3/4;
}
footer {
    grid-column: 1/5;
}
