#root {
    display: grid;
    /* grid-template-columns: 20rem 30rem auto 20rem; */
    grid-template-rows: 6rem auto 8rem;
    background-color: rgb(250, 250, 250);
    background-color: #f7f7f7;
    gap: 2rem;
}

