#category_menu {
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}

#category_menu div {
    max-height: 5rem;
    max-width: 90%;
    background-color: #f3f3f3;
    font-size: 1.4rem;
    border-radius: 5px;
    padding-left: 1rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
#category_menu div:hover {
    background-color: #e0e0e0;
}

#category_menu div label {
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}