#div_product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 4rem;
}

#div_product_list .item_product {
    width: 100%;
    height: 35rem;
/*     border: 1px solid rgb(223, 223, 223); */
    background-color: white;
    border-radius: 3px;
    cursor: pointer;

    display: grid;
    grid-template-rows: 20rem 1fr;
}

#div_product_list .box_img {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#div_product_list .box_img img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#div_product_list .box_description {
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 2.5rem 3rem;
    row-gap: 0.5rem;
}

#div_product_list .name {
    font-size: 1.4rem;
    font-weight: 500;
}

#div_product_list .price {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}

#div_product_list .buy_btn {
    grid-row: 3/4;

    background-color: #12C76D;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    #div_product_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 4rem;
    }
}